/* Custom Properties */
:root{
	--light-gray: #f4f4f4;
	--verde: #71d398;
	--vermelho: #f68484;
}

html, body {

  height: 100%;
  background-color: #fff;
	min-height: 100%;
}

.fullscreen{
  height: 0; /*!important*/
	min-height: 100%;
}

@media screen and (max-width: 736px) {
	.fullscreen {
		/*height: auto !important;*/
	}
}

h3{
	font-weight: 300;
	font-size: 1.5rem;
}

*{
  /*border: 1px solid blue;*/
}

[class*="btn"]{
	cursor: pointer;
}

.content-login{
  border-radius: 6px;
  padding: 35px 40px;
	margin: 20px auto;
	background-color: var(--light);
}

.content-login .bt-logar{
  text-align: center;
	margin-top: 20px;
}

.content-login .links-login{
  text-align: left;
  font-size: 12px;
	margin-bottom: 10px;
}

.bg-green{
	background-color: var(--verde);
}

.bt-logar .btn-success{
	padding: 8px 25px;
}

.btn-success{
	background-color: var(--verde);
	border-color: var(--verde);
}

.btn-link{
	font-size: 12px;
	height: 22px;
	background-color: transparent;
	border-color: transparent;
	color: var(--blue);
	padding: 0;
	border: 0;
	margin: 0;
}

.content-form-cadastro{
	margin-top: 40px;
	margin-bottom: 40px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 15px 40px 15px;
}

.form-title{
	padding: 15px;
	color: var(--gray);
	background: var(--light);
	border-radius: 6px;
}

.form-sub-title{
	margin: 40px 0 15px 0;
}

.form-sub-title h3{
	font-size: 1.3rem;
}

form section{
	border: 1px solid gray;
	border-radius: 6px;
	padding: 20px;
}

.nav-content{
	margin-left: auto;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .navbar-text{
	color: #fff;
	font-size: 1.1em;
}

.nav-menu{
	background: var(--verde);
	color: #fff;
	padding: .1rem 3.5rem .1rem 1.5rem;
}

@media screen and (max-width: 736px) {
	.nav-menu{
		padding: .1rem 1rem .1rem 1.5rem;
	}
}

.notification{
	background-color: #f68484;
    border-radius: 4px;
    font: bold 11px Arial;
    color: #ffffff;
    line-height: 20px;
    min-width: 20px;
    position: absolute;
    top: 6px;
    right: 52px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    padding-left: 4px;
    padding-right: 4px;
}

.bt-sair{
	margin: 4px 10px 8px 20px;
  width: 70px;
}

.navbar-toggler{
	/*background-color: #fff;*/
}

.container-fluid{
	padding: 0;
	overflow-x: hidden;
}
.container-home{
	overflow-x: hidden;
}

.left-menu{
	background: var(--light-gray);
	padding: 0;
}

.left-menu .nav-item{
	padding: 10px 15px;
	border: 1px solid var(--light-gray);
	background: var(--gray);
}

.left-menu .nav-link{
	color: #fff;
}

.content-alterar-dados{
	padding: 50px 80px;
}

.status-desc{
	padding-top: 50px;
}

.status-desc h3{
	font-size: 1.2rem;
	font-weight: initial;
}

.status-desc h4{
	font-size: 1rem;
	font-weight: 600;
}

.status-desc-item{
	border: solid 2px var(--light-gray);
	padding: 18px;
}

.table-estagio, .table-usuarios{
	padding-top: 60px;
}

.table-title h3{
	margin-bottom: 0;
	padding: 25px;
}

.bg-gray{
	background: var(--light-gray);
}

/* FORM WIZARD */
.form-wizard{
	margin-top: 50px;
}

.form-wizard .title{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.form-wizard .title h3{
	color: var(--gray);
	padding-left: 8px;
}

.form-wizard .content{
	background: var(--light);
	padding: 20px;
	border-radius: 6px;
}

.wizard .content{
	border: 1px solid #ddd;
	border-radius: 0px;

}

.wizard .content .body{
	width: 100%;
	padding: 20px 0;
  height: auto;
  position: inherit;
}

.green{color: var(--verde);}

.green a{color: var(--verde);}

.red{color: var(--vermelho);}

.red a{color: var(--vermelho);}

.red button{color: var(--vermelho);}

.btn i{
	font-size: 1.3em;
}

.center{text-align: center;}

.modal-body .dados-aluno h6{
	display: inline-block;
}
.modal-body .dados-aluno p{
	display: inline-block;
}

.modal-body .dados-aluno{
	border-bottom: 1px solid #e9ecef;
}

.modal-body .custom-radio{
	margin: 20px 0;
}
