.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.394043;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.115234;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:-0.006240px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.006240px;}
.ls1{letter-spacing:0.012480px;}
.ls5{letter-spacing:0.050800px;}
.ls6{letter-spacing:0.120000px;}
.ls4{letter-spacing:0.233600px;}
.ls2{letter-spacing:0.252400px;}
.sc_{text-shadow:none;}
.underline{text-decoration: underline; color: #000; font-weight: 800; font-family: Consolas, monaco, monospace; font-size:35px;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.010880px;}
._0{width:1.006560px;}
._4{width:2.089680px;}
._5{width:3.668640px;}
._2{width:4.692240px;}
._3{width:6.044240px;}
._6{width:10.501680px;}
._7{width:12.384960px;}
._8{width:13.661760px;}
._9{width:54.486240px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:25.920000px;}
.fs4{font-size:28.080000px;}
.fs2{font-size:31.920000px;}
.fs3{font-size:40.080000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:55.920000px;}
.y0{bottom:0.000000px;}
.y6a{bottom:1.800000px;}
.y6c{bottom:1.860000px;}
.y72{bottom:6.480000px;}
.y69{bottom:11.000000px;}
.y68{bottom:20.180000px;}
.y71{bottom:20.280000px;}
.y67{bottom:29.420000px;}
.y70{bottom:34.080000px;}
.y66{bottom:38.600000px;}
.y4{bottom:38.700000px;}
.y6f{bottom:43.260000px;}
.y6e{bottom:52.440000px;}
.y73{bottom:57.600000px;}
.y6d{bottom:68.700000px;}
.y38{bottom:75.420000px;}
.y37{bottom:89.220000px;}
.y36{bottom:103.020000px;}
.y35{bottom:116.820000px;}
.y6b{bottom:129.000000px;}
.y34{bottom:130.620000px;}
.y65{bottom:138.240000px;}
.y33{bottom:144.440000px;}
.y32{bottom:158.240000px;}
.y31{bottom:171.980000px;}
.y30{bottom:185.780000px;}
.y64{bottom:186.500000px;}
.y2f{bottom:199.580000px;}
.y63{bottom:204.560000px;}
.y2e{bottom:213.380000px;}
.y62{bottom:218.420000px;}
.y2d{bottom:227.180000px;}
.y61{bottom:232.220000px;}
.y2c{bottom:240.980000px;}
.y60{bottom:246.020000px;}
.y2b{bottom:254.780000px;}
.y5f{bottom:259.820000px;}
.y2a{bottom:268.580000px;}
.y5e{bottom:273.620000px;}
.y29{bottom:282.380000px;}
.y5d{bottom:282.740000px;}
.y28{bottom:296.180000px;}
.y5c{bottom:296.600000px;}
.y27{bottom:309.980000px;}
.y5b{bottom:310.400000px;}
.y26{bottom:323.780000px;}
.y5a{bottom:324.200000px;}
.y25{bottom:332.960000px;}
.y59{bottom:338.000000px;}
.y24{bottom:342.140000px;}
.y23{bottom:351.320000px;}
.y58{bottom:351.800000px;}
.y22{bottom:365.180000px;}
.y57{bottom:365.600000px;}
.y56{bottom:374.720000px;}
.y21{bottom:378.980000px;}
.y55{bottom:388.580000px;}
.y20{bottom:392.780000px;}
.y54{bottom:402.380000px;}
.y1f{bottom:406.580000px;}
.y53{bottom:416.180000px;}
.y1e{bottom:420.380000px;}
.y52{bottom:430.000000px;}
.y1d{bottom:435.700000px;}
.y51{bottom:443.800000px;}
.y1c{bottom:446.800000px;}
.y50{bottom:457.600000px;}
.y1b{bottom:460.660000px;}
.y4f{bottom:471.400000px;}
.y1a{bottom:474.460000px;}
.y4e{bottom:485.200000px;}
.y19{bottom:488.260000px;}
.y4d{bottom:494.320000px;}
.y18{bottom:502.060000px;}
.y4c{bottom:508.180000px;}
.y17{bottom:515.860000px;}
.y4b{bottom:521.980000px;}
.y16{bottom:529.660000px;}
.y4a{bottom:535.780000px;}
.y15{bottom:543.460000px;}
.y49{bottom:549.580000px;}
.y14{bottom:558.700000px;}
.y48{bottom:558.760000px;}
.y13{bottom:569.560000px;}
.y47{bottom:572.620000px;}
.y12{bottom:577.780000px;}
.y11{bottom:585.820000px;}
.y46{bottom:586.420000px;}
.y10{bottom:593.980000px;}
.y45{bottom:600.220000px;}
.yf{bottom:607.840000px;}
.y44{bottom:614.020000px;}
.ye{bottom:621.640000px;}
.y43{bottom:627.820000px;}
.yd{bottom:635.440000px;}
.y42{bottom:641.560000px;}
.yc{bottom:649.240000px;}
.y41{bottom:651.640000px;}
.yb{bottom:663.040000px;}
.y40{bottom:664.540000px;}
.ya{bottom:676.840000px;}
.y3f{bottom:678.400000px;}
.y9{bottom:690.640000px;}
.y3e{bottom:692.200000px;}
.y3d{bottom:701.320000px;}
.y8{bottom:705.900000px;}
.y3c{bottom:715.200000px;}
.y7{bottom:721.680000px;}
.y3b{bottom:729.000000px;}
.y6{bottom:735.480000px;}
.y3a{bottom:742.800000px;}
.y5{bottom:748.320000px;}
.y39{bottom:756.600000px;}
.y3{bottom:774.840000px;}
.y2{bottom:788.700000px;}
.y1{bottom:802.440000px;}
.hb{height:9.240000px;}
.h7{height:28.738125px;}
.h8{height:29.190586px;}
.h4{height:33.182461px;}
.h6{height:33.696797px;}
.h5{height:42.311016px;}
.h9{height:45.980000px;}
.ha{height:45.983000px;}
.h2{height:49.898438px;}
.h3{height:59.032734px;}
.hc{height:59.820000px;}
.h0{height:841.920000px;}
.h1{height:842.000000px;}
.w3{width:22.440000px;}
.w2{width:229.600000px;}
.w4{width:229.640000px;}
.w0{width:595.320000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x8{left:3.480000px;}
.x6{left:49.620000px;}
.x4{left:56.700000px;}
.x7{left:61.620000px;}
.xd{left:66.540000px;}
.x10{left:70.800000px;}
.x9{left:86.780000px;}
.xf{left:89.840000px;}
.xa{left:95.840000px;}
.x5{left:107.540000px;}
.xe{left:114.800000px;}
.x3{left:158.660000px;}
.x2{left:161.900000px;}
.x1{left:235.280000px;}
.xb{left:286.000000px;}
.xc{left:308.440000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7{letter-spacing:-0.008320pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.008320pt;}
.ls1{letter-spacing:0.016640pt;}
.ls5{letter-spacing:0.067733pt;}
.ls6{letter-spacing:0.160000pt;}
.ls4{letter-spacing:0.311467pt;}
.ls2{letter-spacing:0.336533pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.347840pt;}
._0{width:1.342080pt;}
._4{width:2.786240pt;}
._5{width:4.891520pt;}
._2{width:6.256320pt;}
._3{width:8.058987pt;}
._6{width:14.002240pt;}
._7{width:16.513280pt;}
._8{width:18.215680pt;}
._9{width:72.648320pt;}
.fs5{font-size:34.560000pt;}
.fs4{font-size:37.440000pt;}
.fs2{font-size:42.560000pt;}
.fs3{font-size:53.440000pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.560000pt;}
.y0{bottom:0.000000pt;}
.y6a{bottom:2.400000pt;}
.y6c{bottom:2.480000pt;}
.y72{bottom:8.640000pt;}
.y69{bottom:14.666667pt;}
.y68{bottom:26.906667pt;}
.y71{bottom:27.040000pt;}
.y67{bottom:39.226667pt;}
.y70{bottom:45.440000pt;}
.y66{bottom:51.466667pt;}
.y4{bottom:51.600000pt;}
.y6f{bottom:57.680000pt;}
.y6e{bottom:69.920000pt;}
.y73{bottom:76.800000pt;}
.y6d{bottom:91.600000pt;}
.y38{bottom:100.560000pt;}
.y37{bottom:118.960000pt;}
.y36{bottom:137.360000pt;}
.y35{bottom:155.760000pt;}
.y6b{bottom:172.000000pt;}
.y34{bottom:174.160000pt;}
.y65{bottom:184.320000pt;}
.y33{bottom:192.586667pt;}
.y32{bottom:210.986667pt;}
.y31{bottom:229.306667pt;}
.y30{bottom:247.706667pt;}
.y64{bottom:248.666667pt;}
.y2f{bottom:266.106667pt;}
.y63{bottom:272.746667pt;}
.y2e{bottom:284.506667pt;}
.y62{bottom:291.226667pt;}
.y2d{bottom:302.906667pt;}
.y61{bottom:309.626667pt;}
.y2c{bottom:321.306667pt;}
.y60{bottom:328.026667pt;}
.y2b{bottom:339.706667pt;}
.y5f{bottom:346.426667pt;}
.y2a{bottom:358.106667pt;}
.y5e{bottom:364.826667pt;}
.y29{bottom:376.506667pt;}
.y5d{bottom:376.986667pt;}
.y28{bottom:394.906667pt;}
.y5c{bottom:395.466667pt;}
.y27{bottom:413.306667pt;}
.y5b{bottom:413.866667pt;}
.y26{bottom:431.706667pt;}
.y5a{bottom:432.266667pt;}
.y25{bottom:443.946667pt;}
.y59{bottom:450.666667pt;}
.y24{bottom:456.186667pt;}
.y23{bottom:468.426667pt;}
.y58{bottom:469.066667pt;}
.y22{bottom:486.906667pt;}
.y57{bottom:487.466667pt;}
.y56{bottom:499.626667pt;}
.y21{bottom:505.306667pt;}
.y55{bottom:518.106667pt;}
.y20{bottom:523.706667pt;}
.y54{bottom:536.506667pt;}
.y1f{bottom:542.106667pt;}
.y53{bottom:554.906667pt;}
.y1e{bottom:560.506667pt;}
.y52{bottom:573.333333pt;}
.y1d{bottom:580.933333pt;}
.y51{bottom:591.733333pt;}
.y1c{bottom:595.733333pt;}
.y50{bottom:610.133333pt;}
.y1b{bottom:614.213333pt;}
.y4f{bottom:628.533333pt;}
.y1a{bottom:632.613333pt;}
.y4e{bottom:646.933333pt;}
.y19{bottom:651.013333pt;}
.y4d{bottom:659.093333pt;}
.y18{bottom:669.413333pt;}
.y4c{bottom:677.573333pt;}
.y17{bottom:687.813333pt;}
.y4b{bottom:695.973333pt;}
.y16{bottom:706.213333pt;}
.y4a{bottom:714.373333pt;}
.y15{bottom:724.613333pt;}
.y49{bottom:732.773333pt;}
.y14{bottom:744.933333pt;}
.y48{bottom:745.013333pt;}
.y13{bottom:759.413333pt;}
.y47{bottom:763.493333pt;}
.y12{bottom:770.373333pt;}
.y11{bottom:781.093333pt;}
.y46{bottom:781.893333pt;}
.y10{bottom:791.973333pt;}
.y45{bottom:800.293333pt;}
.yf{bottom:810.453333pt;}
.y44{bottom:818.693333pt;}
.ye{bottom:828.853333pt;}
.y43{bottom:837.093333pt;}
.yd{bottom:847.253333pt;}
.y42{bottom:855.413333pt;}
.yc{bottom:865.653333pt;}
.y41{bottom:868.853333pt;}
.yb{bottom:884.053333pt;}
.y40{bottom:886.053333pt;}
.ya{bottom:902.453333pt;}
.y3f{bottom:904.533333pt;}
.y9{bottom:920.853333pt;}
.y3e{bottom:922.933333pt;}
.y3d{bottom:935.093333pt;}
.y8{bottom:941.200000pt;}
.y3c{bottom:953.600000pt;}
.y7{bottom:962.240000pt;}
.y3b{bottom:972.000000pt;}
.y6{bottom:980.640000pt;}
.y3a{bottom:990.400000pt;}
.y5{bottom:997.760000pt;}
.y39{bottom:1008.800000pt;}
.y3{bottom:1033.120000pt;}
.y2{bottom:1051.600000pt;}
.y1{bottom:1069.920000pt;}
.hb{height:12.320000pt;}
.h7{height:38.317500pt;}
.h8{height:38.920781pt;}
.h4{height:44.243281pt;}
.h6{height:44.929063pt;}
.h5{height:56.414687pt;}
.h9{height:61.306667pt;}
.ha{height:61.310667pt;}
.h2{height:66.531250pt;}
.h3{height:78.710313pt;}
.hc{height:79.760000pt;}
.h0{height:1122.560000pt;}
.h1{height:1122.666667pt;}
.w3{width:29.920000pt;}
.w2{width:306.133333pt;}
.w4{width:306.186667pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x8{left:4.640000pt;}
.x6{left:66.160000pt;}
.x4{left:75.600000pt;}
.x7{left:82.160000pt;}
.xd{left:88.720000pt;}
.x10{left:94.400000pt;}
.x9{left:115.706667pt;}
.xf{left:119.786667pt;}
.xa{left:127.786667pt;}
.x5{left:143.386667pt;}
.xe{left:153.066667pt;}
.x3{left:211.546667pt;}
.x2{left:215.866667pt;}
.x1{left:313.706667pt;}
.xb{left:381.333333pt;}
.xc{left:411.253333pt;}
}
